p.prompts{
	font-size: 25px;
	line-height: 100px;
}

#button{

	height: 30px;
	width: 100px;
}

body {
	text-align: center;
}

p.error {
	color: red;
	font-style: italic;
}

table, td {
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 655px;
}

p.ready {
	font-size: 30px;
	font-style: italic;
	color: green;
}
div.space {
	background-color: black;
	clip-path: polygon(100% 100%,100% 100%,100% 100%,100%;
}
